@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --cta-txt-color: hsl(356, 100%, 66%);
  --cta-bg-hover: hsl(355, 100%, 74%);
  --heading-txt-color: hsl(208, 49%, 24%);
  --footer-txt-color: hsl(240, 2%, 79%);
  --body-txt-color: hsl(207, 13%, 34%);
  --footer-bg-color: hsl(240, 10%, 16%);
  --pry-bg-gradient: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  --sec-bg-gradient: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  --border-rad: 8em;
}



body {
  color: var(--body-txt-color);
  text-align: center!important;
}

h1, h2, h3, h4 {
  color: var(--heading-txt-color);
  font-weight: 600;
}

header {
  color: white;
  background-color: var(--pry-bg-gradient);
  border-bottom-left-radius: var(--border-rad);
  background-image: url('../images/bg-pattern-intro.svg');
  background-size: contain;
}

header, main {
  font-family: 'Overpass', sans-serif;
}



footer {
  background-color: var(--footer-bg-color);
  padding: 3em;
  color: var(--footer-txt-color);
  font-family: 'Ubuntu', sans-serif;
  border-top-right-radius: var(--border-rad);

}

footer .head-list-item {
  color: white;
  padding-top: 1em;
}

footer li {
  padding: .5em;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}


